{% extends "model/base.html" %}
{% load staticfiles %}

{% block style %}
      <style>
          body{
              background-image: url("{% static 'model/images/slider1.jpg' %}");
              background-repeat: no-repeat;
              background-size: cover;
          }
      </style>
{% endblock %}


{% block title %}
    Instance
{% endblock %}

{% block nav %}
    <li>
        <a href="{% url 'model:home' %}" class="black-text">Home</a>
    </li>
    <li>
        <a href="{% url 'model:logout' %}" class="black-text">logout</a>
    </li>
{% endblock %}

{% block sidenav %}
    <li>
        <a href="{% url 'model:home' %}" class="black-text">Home</a>
    </li>
    <li>
        <a href="{% url 'model:logout' %}" class="black-text">logout</a>
    </li>
{% endblock %}


{% block body %}
    <div class = "row">
       <div class = "col s12 m12 l12">
          <ul class = "tabs">
             <li class = "tab col s3"><a  class="active" href = "#model">Model</a></li>
             <li class = "tab col s3"><a href = "#train">Train</a></li>
             <li class = "tab col s3 "><a href = "#test">Test </a></li>
             <li class = "tab col s3"><a  href = "#predict">Predict</a></li>
          </ul>
       </div>
     </div>
       <div id = "model" class = "col s12">
          <div class="row">
            <div class="col s1 m1 l1">

            </div>
              <div class="col s12 m6">
                <div class="card white">
                  <div class="card-content black-text" style="word-wrap:break-word; height:auto">
                    <span class="card-title">Model - {{ model_detail.id }}</span>

                    <ol style="list-style-type:lower-roman">
                      {% for key,value in model_detail.items %}
                      <li>
                        {{ key }} : {{ value}}
                      </li>
                      {% endfor %}
                    </ol>
                  </div>
                    <div class = "card-action">
                      <div class="row">

                          <a href="{% url 'model:delete_ins' model_detail.id %}" class = "btn waves-effect waves-light black right"> Delete
                             <i class = "material-icons right">delete</i></a>
                    </div> </div>
                </div><!--card large white darken1-->
              </div>

                <div class="col s12 m4">
                    <div class="card white ">
                      <div class="card-content black-text">
                        <span class="card-title">Model Logs</span>
                          <div class="container">
                            <div class="section">
                              <div class="row">
                                <div class="col s12 center">
                                  <p class="left-align light"><ul class="collapsible " data-collapsible="accordion">
                                    {% for date,activities in model_partial_log.items%}
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">event</i>{{ date }}</div>
                                      <div class="collapsible-body">
                                        <span>
                                          <ul>
                                            {% for i in activities %}
                                          <li>{{ i }}</li>
                                            {% endfor %}
		                                      </ul>
                                        </span></div>
                                      </li>
                                      {% endfor %}
                                    </ul>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class = "card-action">
                          <div class="row">
                              <a href="#" class = "btn waves-effect waves-light black right"> More
                                 <i class = "material-icons right">details</i></a>
                        </div> </div>
                      </div>
                    </div>
                  </div>
                </div>

              <div id = "predict" class = "col s12">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card white">
                                <div class="card-content black-text">
                                    <span class="card-title">Predict file upload</span>
                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                          <form action="{% url 'model:instance_predict' %}" method="post" enctype="multipart/form-data" class="col s12" id="fileupload1">
                                              {% csrf_token %}
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                      <i class="material-icons prefix">mode_edit</i>
                                                      <input id="instance_id" type="text" name="instance_id" class="validate" required>
                                                      <label for="instance_id">Instance Id</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class = "file-field input-field">
                                                      <div class = "btn waves-effect waves-light blue-grey darken-4 lighten-1">Browse
                                                          <i class="material-icons right">file_upload</i>
                                                          <input type = "file" name="x_predict_file" required/>
                                                      </div>

                                                      <div class = "file-path-wrapper">
                                                          <input class = "file-path validate" name="x_predict_name" type = "text" placeholder="Upload x_predict csv" />
                                                      </div>
                                                    </div>
                                                </div><!--end of row -->
                                                <button class="btn waves-effect waves-light blue-grey darken-4 lighten-1 right" type="submit" name="submit" id="form_submit2" onclick="return validate()">Submit
                                                    <i class="material-icons right">send</i>
                                                </button>
                                            </form>
                                            <br/><br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                 <div id = "test" class = "col s12">
                   <div class="container">
                       <div class="row">
                           <div class="col s12 m12 l12">
                               <div class="card white">
                                   <div class="card-content black-text">
                                       <span class="card-title">Test file upload</span>
                                       <div class="row">
                                           <div class="col s12 m12 l12">
                                             <form action="{% url 'model:instance_test' %}" method="post" enctype="multipart/form-data" class="col s12" id="fileupload2">
                                                 {% csrf_token %}
                                                 <div class="row">
                                                     <div class="input-field col s12 m12 l12">
                                                       <i class="material-icons prefix">mode_edit</i>
                                                       <input id="instance_id" name="instance_id" type="text" class="validate" required>
                                                       <label for="instance_id">Instance Id</label>
                                                     </div>
                                                 </div>
                                                 <div class = "row">
                                                     <div class = "file-field input-field">
                                                       <div class = "btn waves-effect waves-light blue-grey darken-4 lighten-1">Browse
                                                           <i class="material-icons right">file_upload</i>
                                                           <input type = "file" name="x_test_file" required/>
                                                       </div>

                                                       <div class = "file-path-wrapper">
                                                           <input class = "file-path validate" type = "text" name="x_test_name" id="x_test_name" placeholder="Upload x_test csv"/>
                                                       </div>
                                                     </div>
                                                   </div><!--end of row -->
                                                   <div class = "row">

                                                       <div class = "file-field input-field">
                                                         <div class = "btn waves-effect waves-light blue-grey darken-4 lighten-1">Browse
                                                             <i class="material-icons right">file_upload</i>
                                                             <input type = "file" name="y_test_file" required/>
                                                         </div>

                                                         <div class = "file-path-wrapper">
                                                             <input class = "file-path validate" type = "text" name="y_test_name" id="y_test_name" placeholder="Upload y_test csv"/>
                                                         </div>
                                                       </div>
                                                     </div>

                                                     <button class="btn waves-effect waves-light blue-grey darken-4 lighten-1 right" type="submit" name="submit" id="form_submit" onclick="return validate()">Submit
                                                         <i class="material-icons right">send</i>
                                                     </button>
                                                 </form>
                                               <br/><br/>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                 </div>



                 <div id = "train" class = "col s12">
                   <div class="container">
                       <div class="row">
                           <div class="col s12 m12 l12">
                               <div class="card white">
                                   <div class="card-content black-text">
                                       <span class="card-title">Train file upload</span>
                                       <div class="row">
                                           <div class="col s12 m12 l12">
                                             <form action="{% url 'model:instance_train' %}" method="post" enctype="multipart/form-data" class="col s12" id="fileupload2">
                                                 {% csrf_token %}
                                                 <div class="row">
                                                     <div class="input-field col s12 m12 l12">
                                                       <i class="material-icons prefix">mode_edit</i>
                                                       <input id="instance_id" name="instance_id" type="text" class="validate" required>
                                                       <label for="instance_id">Instance Id</label>
                                                     </div>
                                                 </div>
                                                 <div class = "row">
                                                     <div class = "file-field input-field">
                                                       <div class = "btn waves-effect waves-light blue-grey darken-4 lighten-1">Browse
                                                           <i class="material-icons right">file_upload</i>
                                                           <input type = "file" name="x_train_file" required/>
                                                       </div>

                                                       <div class = "file-path-wrapper">
                                                           <input class = "file-path validate" type = "text" name="x_train_name" id="x_train_name" placeholder="Upload x_train csv"/>
                                                       </div>
                                                     </div>
                                                   </div><!--end of row -->
                                                   <div class = "row">

                                                       <div class = "file-field input-field">
                                                         <div class = "btn waves-effect waves-light blue-grey darken-4 lighten-1">Browse
                                                             <i class="material-icons right">file_upload</i>
                                                             <input type = "file" name="y_train_file" required/>
                                                         </div>

                                                         <div class = "file-path-wrapper">
                                                             <input class = "file-path validate" type = "text" name="y_train_name" id="y_train_name" placeholder="Upload y_train csv"/>
                                                         </div>
                                                       </div>
                                                     </div>

                                                     <button class="btn waves-effect waves-light blue-grey darken-4 lighten-1 right" type="submit" name="submit1" id="form_submit" onclick="return validate()">Submit
                                                         <i class="material-icons right">send</i>
                                                     </button>
                                                 </form>
                                               <br/><br/>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                 </div>

{% endblock %}

{% block footer %}
    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
{% endblock %}

{% block script %}
<script type = "text/javascript"src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
{% endblock %}
